<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore totam ab libero commodi tempore, eos ex assumenda facilis, dolor quos neque laborum laboriosam hic, vero maxime aliquam veniam aperiam quis.
</div>    
</body>
</html>